# будет игнорироватся каталог TMP
/tmp/
# файлы, заканчивающиеся с суффиксами _old
*.*_old
# файлы, заканчивающиеся с суффиксами _backup
*.*_backup
# будет проигнорирован файл Thumbs.db
Thumbs.db
# будет проигнорирован файл .DS_Store
.DS_Store